body {
  height: 100vh;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.section {
  height: 33%;
  width: 95%;
}
img {
  max-width: 90%;
}
#headline {
  font-size: 5vh;
  margin-bottom: 1vh;
}
#byline, #dateline {
  font-size: 1vh;
}
#photocredit {
  font-size: 0.8vh;
  margin-bottom: 1vh;
}
#byline {
  font-weight: bold;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item {
  width:50%;
}
@media only screen and (max-device-width: 640px) {
      /* Styles */
  body {
    margin-top: 2vh;
  }
  .container {
    position: absolute;
    top: 2vh;
    left: 0;
  }
  .item {
    width:90%;
  }
  #headline {
    font-size: 4vh;
  }
  #byline, #dateline {
    font-size: 2.75vw;
  }
  #photocredit {
    font-size: 1vh;
  }
}
    
@media only screen and (max-device-width: 768px) {
      /* Styles */
}
